@page "/app"
@page "/app/{token}"
@using rMakev2.ViewModel;
@inject RmakeViewModel vm;
@inject IJSRuntime jsRuntime;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@using MudBlazor;
@using rMakev2.Models
<PageTitle>rHacker</PageTitle>

<style>
    .topBar {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
        padding-right: 15px;
        z-index: 3;
        border-bottom: 1px solid #f3f3f3;
        min-height: 50px;
    }

    .logo {
        font-size: 30px;
        margin: 0;
        font-weight: 700;
        margin-left: 50%
    }

    .subLogo {
        font-size: 9px;
        text-align: left;
        margin: 0px;
        margin-left: 50%
    }

    .barItems {
        float: right;
        width: 30px;
        margin: 10px;
        padding: 5px;
        margin-left: 10px;
    }

    .projectName {
        min-width: 100px;
        width: 400px;
        padding-top: 15px !important;
        padding-right: 25px;
        margin-right: 15px;
        border-right: 1px solid #f1f1f1;
    }

    .brandArea {
        float: left;
        width: 80px;
        text-align: left;
        height: 0px;
    }

    .itemsArea {
        float: left;
        text-align: left;
        height: 50px;
        margin-left: 5px;
    }

    .leftArea {
        position: absolute;
        right: 0px;
        margin-right: 50px;
    }

    .book-explorer {
        position: fixed;
        top: 100px;
        left: 0px;
        z-index: 99;
        padding: 3px;
        background-color: #fff;
    }

    .bb-white {
        border-bottom: white;
    }

    .bt-white {
        border-top: white;
    }

    .minH-500 {
        min-height: 500px;
    }

    .maxH-500 {
        max-height: 500px;
    }

    .menuDocumentTitle {
        white-space: nowrap;
        overflow: hidden;
        margin-left: 20px;
        max-width: 150px;
        font-size: 13px;
        margin-bottom: 7px;
        transition: all 0.01s ease;
    }

        .menuDocumentTitle:hover {
            font-weight: 500;
            cursor: pointer;
        }

    .btn-Outline {
        background: none;
        color: #000;
    }

    .smallIcon {
        width: 12px;
        height: 12px;
    }

    .mdicon {
        width: 16px;
        height: 16px;
        color: #666;
        opacity: .3;
    }

    .documentMenu {
        border-radius: 5px;
        border: 1px solid #777;
        padding: 5px;
        padding-left: 0;
        width: 125px;
        display: flex;
        justify-content: space-evenly;
    }

    .spacer {
        width: 10px;
        height: 34px;
    }

    .menuBarsIcon {
        margin-left: 50px;
    }

    .dots {
        display: block;
        padding: 10px;
    }

    .ql-size-huge {
        font-size: 2.5em;
    }

    .ql-size-large {
        font-size: 1.5em;
    }

    .ql-size-small {
        font-size: .75em;
    }

    .ql-syntax {
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        text-align: left;
    }

    .card {
        min-width: 250px;
        max-width: 250px;
    }
</style>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light  topBar">
            <a class="navbar-brand" href="#">
                <div class="logo">rMake!</div>
                <div class="subLogo"> Hacker Mode </div>
            </a>
            <div class="leftArea">
                <ul class="navbar-nav mr-auto">
                    <li class="spacer">
                    </li>
                    <li class="nav-item active projectName">
                        <input Id="ProjectName" @bind="@vm.Ui.SelectedProject.Name" class="form-control-plaintext small text-center" style=" font-size:16px; margin-left:10px; margin-top:-5px; !important; " placeholder="Project Name" autofocus @onclick="vm.BlockRTAFocus" />

                    </li>
                    <li>
                        <a class="barItems" @onclick="NewProj"><img src="svgs/Plus.svg" title="Create Project" /> </a>
                    </li>
                    <li class="nav-item">
                        <a class="barItems" @onclick="() => vm.DeleteProjectMenu(vm.Ui.SelectedProject)"><img src="svgs/Delete.svg" title="Delete Project" /> </a>
                    </li>
                    <li class="nav-item">
                        <a class="barItems" @onclick=" vm.ShowSaveModal"><img src="svgs/asset 1.svg" title="Save Project" /> </a>
                    </li>
                    <li class="nav-item">
                        <a class="barItems" @onclick=" vm.ShowPublishModal"><img src="svgs/asset 3.svg" title="Publish" /> </a>
                    </li>
                    <li class="nav-item" style="padding-right: 25px; margin-right: 15px; border-right: 1px solid #f1f1f1;">
                        <a class="barItems" @onclick=" vm.ShowLoadModal"><img src="svgs/Asset 2.svg" title="Publish" /> </a>
                    </li>
                    <li class="nav-item">
                        <a class="barItems" @onclick="vm.ForkProject"><img src="svgs/Fork.svg" title="Fork Project" /> </a>
                    </li>
                    <li class="nav-item" style="padding-right: 25px; margin-right: 15px; border-right: 1px solid #f1f1f1;">
                        <a class="barItems" @onclick="vm.ForkProject"><img src="svgs/Merge.svg" title="Merge Projects" /> </a>
                    </li>
                    <li class="nav-item">
                        <a class="barItems" @onclick="vm.ShowJsonModal"><img src="svgs/Code.svg" title="Json View" /> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        @*menu*@
        <div class="row mt-5 pt-7">
            <div class="col-sm-12 col-md-3col-lg-3 col-xl-2 mt-5 p-5 pl-0 ml-0">
                <b @onclick="vm.DisplayMenu" class="small mt-4 m-2 pl-4"><img src="svgs/Menu Bar.svg" title="Publish" class="menuBarsIcon" /></b>
                @if (vm.Ui.DisplayMenu == true)
                {
                    <div class="card mt-3">
                        <div class="card-body minH-500 maxH-500 overflow-auto">
                            @foreach (var project in vm.App.Data.Projects)
                            {
                                <div>
                                    <p @onclick="@(() => ChangeProject(project))" style="cursor:pointer">@project.Name</p>
                                </div>
                                @foreach (var document in project.Documents)
                                {
                                    <div class="col-12">
                                        @if (document.Name == "")
                                        {
                                            <p @onclick="@(() => ChangeContent(document))" style="text-overflow:ellipsis;" class="menuDocumentTitle">Untitled</p>
                                        }
                                        else
                                        {
                                            <p @onclick="@(() => ChangeContent(document))" style="text-overflow:ellipsis;" class="menuDocumentTitle">@document.Name</p>
                                        }
                                    </div>
                                }

                                <div class=" mt-4">
                                    <button @onclick="@(() => newDoc(project))" class="small">  <img src="svgs/Plus.svg" title="New Document" class="mr-2 smallIcon" />New Document </button>
                                    <hr />
                                </div>
                            }
                        </div>
                        <div class="card-footer bg-white bt-white text-center pb-3">
                            <button @onclick="NewProj" class="btn btn-dark btn-Outline btn-sm" style="font-size:13px;">New Project</button>
                        </div>
                    </div>
                }
            </div>
            @*/menu*@
            @*working area*@
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-1 mt-5 p-5 ">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-8 mt-5 p-5 ">

                @if (vm.Ui.DisplayDocumentMenu == true)
                {
                    <div class="spacer">

                        <div class="documentMenu mb-2">
                            <a @onclick="vm.DeleteDocument"><img src="svgs/Delete.svg" title="Delete Document" class="m-1 smallIcon" /></a>
                            <a @onclick="vm.CloneDocument"><img src="svgs/Clone.svg" title="Clone Document" class="m-1 smallIcon" /></a>
                            <a><img src="svgs/Merge.svg" title="Merge Documents comming soon" class="m-1 smallIcon" /></a>
                            @*<a @onclick="vm.orderElements"><img src="svgs/Elements .svg" title="Sort Elements" Class="smallIcon" /></a>*@
                        </div>
                    </div>
                }
                else
                {
                    <div class="spacer"></div>

                }



                <div style="width:20px; float:left; margin-top:15px;">
                    <a>
                        <img src="svgs/3 dots.svg" title="Document Menu" class="dots " @onclick="vm.DocumentMenu" />
                    </a>
                </div>

                <div style="width:90%; float:left;">

                    <textarea  @bind="@vm.Ui.SelectedDocument.Name" 
                            @bind:event="oninput" 
                            id="PageName" 
                            autofocus="true" 
                            @onblur="vm.UnBlockRTAFocus" 
                            @onclick="vm.BlockRTAFocus" 
                            class="form-control-plaintext small" 
                            style="color: #342e37; font-size:30px; margin:10px; height: fit-content; padding-left: 15px; inline-size: 75%; overflow-wrap: break-word; text-align: left;" placeholder="Write your title here" />
                </div>
                <div class="clearfix"></div>
                <div class="mt-4">
                    <div class="mt-4">
                        <div class="ce-example">
                            <div class="ce-example__content">
                                <div id="editorjs"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="width:20%; background-color:#f3f3f3; position:fixed; right:0px; top:80px; height:600px; padding:5px;" class=" @(vm.Ui.DisplayJson? "d-block" : "d-none" )">
    <textarea readonly style="color:#0f0; width:100%; margin:auto; font-size:10px; background-color:#000; border-radius:0px; height:100%; text-align:left;">
        @vm.Ui.JsonFn();
    </textarea>
</div>

<Modal @ref="vm.App.Ui.SaveModal" class="half-modal fade">
    <ModalContent Centered="true">
        <ModalBody>
            <div class="close-button" @onclick="vm.HideSaveModal">
                <Icon Name="IconName.Times"></Icon>
            </div>
            <div class="h-100 p-4">
                <div class="w-100 h-50">
                    <h2>Choose your server</h2>
                    <p>Save your token to retrive your content</p>
                    <h5> @vm.App.Data.Id</h5>
                    <Button @onclick="@(() => clipboard(vm.App.Data.Id))">Copy Hash</Button>
                    <div class="form-check p-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            rMake@Rebel-server
                        </label>
                    </div>
                    <button @onclick="NewSave" class="btn btn-success"><Icon Name="IconName.Lightbulb" /> Save</button>
                </div>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="vm.App.Ui.LoadModal" class="half-modal fade">
    <ModalContent Centered="true">
        <ModalBody>
            <div class="close-button" @onclick="vm.HideLoadModal">
                <Icon Name="IconName.Times"></Icon>
            </div>
            <div class="h-100 p-4">
                <div class="w-100 h-50">
                    <h2>Load project</h2>
                    <input Id="token" @bind="tokenstring" class="form-control-index small" placeholder="example: 24256aG-A90n56D3-a722" autofocus />
                    <button @onclick="navigate" class="btn btn-success"><Icon Name="IconName.Lightbulb" /> Save</button>
                </div>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="vm.App.Ui.PublishModal" class="half-modal fade">
    <ModalContent Centered="true">
        <ModalBody>
            <div class="close-button" @onclick="vm.HideSaveModal">
                <Icon Name="IconName.Times"></Icon>
            </div>
            <div class="h-100 p-4">
                <div class="w-100 h-50">
                    <h2>Where do you want to publish your content</h2>
                    <p>rMake is a decentralized solution for creators.</p>
                    <div class="form-check p-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            www.xipegroup.com
                        </label>
                    </div>
                    <div class="form-check p-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            www.radicalcompanies.org
                        </label>
                    </div>
                    <div class="form-check p-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            www.radicalpurpose.org
                        </label>
                    </div>
                    <div class="form-check p-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            www.anotherwebsite.org
                        </label>
                    </div>
                    <button @onclick=" vm.SaveContentAsync" class="btn btn-success"><Icon Name="IconName.Lightbulb" /> Save</button>

                </div>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="vm.App.Ui.MergeModal" class="half-modal fade">
    <ModalContent Centered="true">
        <ModalBody>
            <div class="close-button" @onclick="vm.HideSaveModal">
                <Icon Name="IconName.Times"></Icon>
            </div>
            <div class="h-100 p-4">
                <div class="w-100 h-50">
                    <h2>Choose Documents to Merge</h2>
                    <p>How it works...</p>
                </div>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    bool _isExpanded = true;
    MudListItem selectedItem;
    object selectedValue = 1;
    string tokenstring;
    private DotNetObjectReference<Alternativo>? objRef;
    bool loaded = false;

    [Parameter]
    public string token { get; set; }

    protected RichTextEdit richTextEditRef;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (token != "")
            {
                await LoadContent();
            }
        }
        catch
        {

        }
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await jsRuntime.InvokeVoidAsync("runEditor", objRef);

            //await localStorage.ClearAsync();
            if (vm.Ui.SelectedDocument == null)
            {
                vm.Ui.SelectedDocument = new Document();
                //await localStorage.SetItemAsync(vm.Ui.SelectedProject.Id, vm.Ui.SelectedProject);

            }

            IEnumerable<string> keys = await localStorage.KeysAsync();

            if(keys.Count() != 0)
            {
                List<string> k = keys.ToList();
                await loadStorage(k);
            }

        }
        if (vm.Ui.EditProjectName == true && vm.Ui.EditedProjectName == false)
        {
            await jsRuntime.InvokeVoidAsync("focusInput");
            vm.Ui.EditedProjectName = true;
        }
        else if (vm.Ui.EditProjectName == false && vm.Ui.EditedProjectName == true)
        {
            vm.Ui.EditedProjectName = false;
        }
    }

    async void navigate()
    {
        if (tokenstring != "")
        {
            await localStorage.ClearAsync();
            NavigationManager.NavigateTo("/App/" + tokenstring, forceLoad: true);
        }
    }


    public async Task loadStorage(List<string> keys)
    {
        List<Project> projects = new List<Project>();
        Project newProj;



        foreach(var key in keys)
        {
            if (key == "i18nextLng")
                continue;

            newProj = await localStorage.GetItemAsync<Project>(key);
            projects.Add(newProj);

        }

        vm.App.Data.Projects.AddRange(projects);
        vm.DeleteProjectMenu(vm.Ui.SelectedProject);

        if(vm.Ui.SelectedDocument.Content != "")
        {
            await jsRuntime.InvokeVoidAsync("loadContent", objRef, vm.Ui.SelectedDocument.Content);
        }

    }

    public async Task LoadContent()
    {
        await vm.LoadProyectAsync(token);
        loaded = true;
        vm.DeleteProjectMenu(vm.Ui.SelectedProject);

        await ChangeContent(vm.Ui.SelectedDocument);
    }

    public async Task SaveStorage()
    {
        await jsRuntime.InvokeAsync<string>("saveContent", objRef, vm.Ui.SelectedDocument);

        foreach (var project in vm.App.Data.Projects)
        {
            foreach (var document in project.Documents)
            {
                if (await localStorage.ContainKeyAsync(document.Id))
                {
                    Document newDoc = await localStorage.GetItemAsync<Document>(document.Id);
                    document.Name = newDoc.Name;
                    document.Content = newDoc.Content;
                }
            }
        }

        await vm.SaveContentAsync();
    }

    public async Task NewSave()
    {
        await jsRuntime.InvokeAsync<string>("saveContent", objRef, vm.Ui.SelectedDocument);

        List<Project> projects = new List<Project>();
        List<Document> docs = new List<Document>();

        foreach (var project in vm.App.Data.Projects)
        {
            docs.AddRange(project.Documents);
        }

        foreach (var document in docs)
        {
            if (!await localStorage.ContainKeyAsync(document.Id)){ continue; }

            if(document.Id == vm.Ui.SelectedDocument.Id)
            {
                vm.Ui.SelectedDocument.Name = document.Name;
            }

            Document newDoc = await localStorage.GetItemAsync<Document>(document.Id);
            document.Name = newDoc.Name;
            document.Content = newDoc.Content;  
        }

        await vm.SaveContentAsync();
    }

    public async Task PeriodicSave()
    {
        var timer = new PeriodicTimer(TimeSpan.FromSeconds(5));

        while (await timer.WaitForNextTickAsync())
        {
            await NewSave();
        }
    }

    [JSInvokable]
    public async Task SaveContent(string content, Document doc)
    {
        Project project = vm.App.Data.Projects.Where(x => x.Id == doc.ProjectId).FirstOrDefault();
        Document document = project.Documents.Where(x => x.Id == doc.Id).FirstOrDefault();
        document.Content = content;
        await localStorage.SetItemAsync(doc.ProjectId, project);
    }

    public async Task ChangeContent(Document newDoc)
    {
        await jsRuntime.InvokeAsync<string>("changeContent", objRef, vm.Ui.SelectedDocument, newDoc);
    }

    public async Task ChangeProject(Project project)
    {
        await jsRuntime.InvokeVoidAsync("changeProj", objRef, vm.Ui.SelectedDocument, project.Documents.FirstOrDefault());
    }

    [JSInvokable]
    public async Task SetProjectContent(Document document)
    {
        Project proj = await localStorage.GetItemAsync<Project>(document.ProjectId);
        Document newDoc;
        if (proj == null)
            newDoc = null;
        else
            newDoc = proj.Documents.Where(x => x.Id == document.Id).FirstOrDefault();

        var projects = vm.App.Data.Projects.Where(x => x.Id == document.ProjectId).FirstOrDefault();
        var oldDoc = projects.Documents.Where(x => x.Id == document.Id).FirstOrDefault();

        if (newDoc != null)
        {
            oldDoc.Content = newDoc.Content;
            await jsRuntime.InvokeVoidAsync("loadContent", objRef, newDoc.Content);

        }
        else if (document.Content != null)
            await jsRuntime.InvokeVoidAsync("loadContent", objRef, document.Content);

        vm.SelectProject(projects);
        StateHasChanged();
    }

    [JSInvokable]
    public async Task SetDocumentContent(Document document)
    {

        Project proj = await localStorage.GetItemAsync<Project>(document.ProjectId);
        Document newDoc;
        if (proj == null)
            newDoc = null;
        else
            newDoc = proj.Documents.Where(x => x.Id == document.Id).FirstOrDefault();

        var projects = vm.App.Data.Projects.Where(x => x.Id == document.ProjectId).FirstOrDefault();
        var oldDoc = projects.Documents.Where(x => x.Id == document.Id).FirstOrDefault();

        if(newDoc != null)
        {
            oldDoc.Content = newDoc.Content;
            await jsRuntime.InvokeVoidAsync("loadContent", objRef, newDoc.Content);

        }
        else if (document.Content != null)
            await jsRuntime.InvokeVoidAsync("loadContent", objRef, document.Content);

        vm.EventSelectDocumentMenu(oldDoc);

        StateHasChanged();
    }

    [JSInvokable]
    public async Task CallJSSave(Document doc)
    {
        var jsContent = await jsRuntime.InvokeAsync<string>("saveContent", objRef, doc);
    }

    public async Task newDoc(Project project)
    {
        await jsRuntime.InvokeAsync<string>("saveContent", objRef, vm.Ui.SelectedDocument);

        vm.NewDocumentMenu(project);

        await jsRuntime.InvokeAsync<string>("ClearEditor");
    }

    public async Task NewProj()
    {
        await jsRuntime.InvokeAsync<string>("saveContent", objRef, vm.Ui.SelectedDocument);

        vm.NewProject();

        await jsRuntime.InvokeAsync<string>("ClearEditor");
    }   

    public async Task clipboard(string copied)
    {
        await jsRuntime.InvokeVoidAsync("copyTextToClipboard", copied);
    }

    [JSInvokable]
    public async Task StateChange()
    {
        StateHasChanged();
    }
}
